output
/temp

/alchemist/data/apache/sites-enabled/*
/alchemist/data/nginx/sites-enabled/*
/alchemist/data/hosts

/alchemist/Console/data/apache/sites-enabled/*
/alchemist/Console/data/nginx/sites-enabled/*
/alchemist/Console/data/hosts

!.gitkeep