services:

    - Alchemist\Manager
    - Alchemist\Configurator
    - Alchemist\TemplateLoader

    application:
        class: Symfony\Component\Console\Application
        setup:
            - addCommands([
                @installCommand,
                @touchProjectCommand,
                @createProjectCommand,
                @removeProjectCommand,
                @selfUpdateCommand,
                @saveCommand,
                @whichCommand
            ])
            - setDefaultCommand(
                'touch'
            )

    installCommand:
        class: Alchemist\Console\Command\InstallCommand
    touchProjectCommand:
        class: Alchemist\Console\Command\TouchProjectCommand
    createProjectCommand:
        class: Alchemist\Console\Command\CreateProjectCommand
    removeProjectCommand:
        class: Alchemist\Console\Command\RemoveProjectCommand
    selfUpdateCommand:
        class: Alchemist\Console\Command\SelfUpdateCommand
    saveCommand:
        class: Alchemist\Console\Command\SaveCommand
    whichCommand:
        class: Alchemist\Console\Command\WhichCommand
